/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - Responsive Style file
 * Author:  http://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. New Grid System
2. Add clearfix in the grid system
3. Styles for devices(>=1200px)
4. Styles for devices(>=992px and <=1199px)
5. Styles for devices(<=1199px)
6. Styles for devices(<=991px )
7. Styles for devices(>=768px and <= 991px)
8. Styles for devices(<=767px )
9. Styles for devices(>=768px and <= 991px)
10. Styles for devices(<=480px )
11. Styles for devices(<=320px )


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - SCSS Mixin
 * Author:  http://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1) BORDER RADIUS
2) OPACITY
3) BACKGROUND GRADIENT
4) BOX SHADOW
5) TEXT SHADOW
6) TRANSITION
7) ANIMATION
8) TRANSFORM
9) DESATURATE
10) RETINA
11) GRADIENT IMAGE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1) BORDER RADIUS */
/* 2) OPACITY */
/* 3) BACKGROUND GRADIENT */
/* 4) BOX SHADOW */
/* 5) TEXT SHADOW */
/* 6) TRANSITION */
/* 7) ANIMATION */
/* 8) TRANSFORM */
/* 9) DESATURATE */
/* 10) RETINA */
/* 11) GRADIENT IMAGE */
/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - SCSS Variables for style customization
 * Author:  http://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Global
2. Skin colors
3. Skin logos
4. Important colors
5. Skin 1
6. Skin 2
7. Skin 3
8. Skin 4
9. Skin 5
10. Skin 6
11. Skin 7
12. Skin 8
13. Skin 9
14. Skin 10

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1. Global */
/* 2. Theme skin colors */
/* 3. Skin logos */
/* 4. Important colors */
/* 5. Skin 1(Orange)
$theme-skin-logo: $theme-skin1-logo;
$theme-skin-color: $theme-skin-orange;
$theme-skin-light-bgcolor: #ff7d26;
$theme-skin-light-fontcolor: #ffc299;*/
/* 6. Skin 2(Green) */
/*$theme-skin-logo: $theme-skin2-logo;
$theme-skin-color: $theme-skin-green;
$theme-skin-light-bgcolor: #a2d13a;
$theme-skin-light-fontcolor: #d8eaaf;*/
/* 7. Skin 3(Purple) */
/*$theme-skin-logo: $theme-skin3-logo;
$theme-skin-color: $theme-skin-purple;
$theme-skin-light-bgcolor: #bd50d7;
$theme-skin-light-fontcolor: #f1c5fb;*/
/* 8. Skin 4(Blue) */
/*$theme-skin-logo: $theme-skin4-logo;
$theme-skin-color: $theme-skin-blue;
$theme-skin-light-bgcolor: #1aabf0;
$theme-skin-light-fontcolor: #c8e9f9;*/
/* 9. Skin 5(Yellow) */
/*$theme-skin-logo: $theme-skin5-logo;
$theme-skin-color: $theme-skin-yellow;
$theme-skin-light-bgcolor: #ffb61a;
$theme-skin-light-fontcolor: #f0deb8;*/
/* 10. Skin 6(Gray) */
/*$theme-skin-logo: $theme-skin6-logo;
$theme-skin-color: $theme-skin-gray;
$theme-skin-light-bgcolor: #b4b4b4;
$theme-skin-light-fontcolor: #d9d9d9;*/
/* 11. Skin 7(Navy) */
/*$theme-skin-logo: $theme-skin7-logo;
$theme-skin-color: $theme-skin-navy;
$theme-skin-light-bgcolor: #1a7bff;
$theme-skin-light-fontcolor: #c9dcf7;*/
/* 12. Skin(Sea) 8 */
/*$theme-skin-logo: $theme-skin8-logo;
$theme-skin-color: $theme-skin-sea;
$theme-skin-light-bgcolor: #23bda1;
$theme-skin-light-fontcolor: #cef2eb;*/
/* 13. Skin 9(Red) */
/* 14. Skin 10(Gold) */
/*$theme-skin-logo: $theme-skin10-logo;
$theme-skin-color: $theme-skin-gold;
$theme-skin-light-bgcolor: #ddc541;
$theme-skin-light-fontcolor: #eee9cb;*/
/* Images */
/* Fonts */
/* 1. New Grid System */
/* line 29, ../sass/responsive.scss */
.col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 481px) and (max-width: 767px) {
  /* line 36, ../sass/responsive.scss */
  .col-sms-1, .col-sms-2, .col-sms-3, .col-sms-4, .col-sms-5, .col-sms-6, .col-sms-7, .col-sms-8, .col-sms-9, .col-sms-10, .col-sms-11, .col-sms-12 {
    float: left;
  }

  /* line 39, ../sass/responsive.scss */
  .col-sms-12 {
    width: 100%;
  }

  /* line 42, ../sass/responsive.scss */
  .col-sms-11 {
    width: 91.66666667%;
  }

  /* line 45, ../sass/responsive.scss */
  .col-sms-10 {
    width: 83.33333333%;
  }

  /* line 48, ../sass/responsive.scss */
  .col-sms-9 {
    width: 75%;
  }

  /* line 51, ../sass/responsive.scss */
  .col-sms-8 {
    width: 66.66666667%;
  }

  /* line 54, ../sass/responsive.scss */
  .col-sms-7 {
    width: 58.33333333%;
  }

  /* line 57, ../sass/responsive.scss */
  .col-sms-6 {
    width: 50%;
  }

  /* line 60, ../sass/responsive.scss */
  .col-sms-5 {
    width: 41.66666667%;
  }

  /* line 63, ../sass/responsive.scss */
  .col-sms-4 {
    width: 33.33333333%;
  }

  /* line 66, ../sass/responsive.scss */
  .col-sms-3 {
    width: 25%;
  }

  /* line 69, ../sass/responsive.scss */
  .col-sms-2 {
    width: 16.66666667%;
  }

  /* line 72, ../sass/responsive.scss */
  .col-sms-1 {
    width: 8.33333333%;
  }

  /* line 75, ../sass/responsive.scss */
  .col-sms-pull-12 {
    right: 100%;
  }

  /* line 78, ../sass/responsive.scss */
  .col-sms-pull-11 {
    right: 91.66666667%;
  }

  /* line 81, ../sass/responsive.scss */
  .col-sms-pull-10 {
    right: 83.33333333%;
  }

  /* line 84, ../sass/responsive.scss */
  .col-sms-pull-9 {
    right: 75%;
  }

  /* line 87, ../sass/responsive.scss */
  .col-sms-pull-8 {
    right: 66.66666667%;
  }

  /* line 90, ../sass/responsive.scss */
  .col-sms-pull-7 {
    right: 58.33333333%;
  }

  /* line 93, ../sass/responsive.scss */
  .col-sms-pull-6 {
    right: 50%;
  }

  /* line 96, ../sass/responsive.scss */
  .col-sms-pull-5 {
    right: 41.66666667%;
  }

  /* line 99, ../sass/responsive.scss */
  .col-sms-pull-4 {
    right: 33.33333333%;
  }

  /* line 102, ../sass/responsive.scss */
  .col-sms-pull-3 {
    right: 25%;
  }

  /* line 105, ../sass/responsive.scss */
  .col-sms-pull-2 {
    right: 16.66666667%;
  }

  /* line 108, ../sass/responsive.scss */
  .col-sms-pull-1 {
    right: 8.33333333%;
  }

  /* line 111, ../sass/responsive.scss */
  .col-sms-pull-0 {
    right: 0%;
  }

  /* line 114, ../sass/responsive.scss */
  .col-sms-push-12 {
    left: 100%;
  }

  /* line 117, ../sass/responsive.scss */
  .col-sms-push-11 {
    left: 91.66666667%;
  }

  /* line 120, ../sass/responsive.scss */
  .col-sms-push-10 {
    left: 83.33333333%;
  }

  /* line 123, ../sass/responsive.scss */
  .col-sms-push-9 {
    left: 75%;
  }

  /* line 126, ../sass/responsive.scss */
  .col-sms-push-8 {
    left: 66.66666667%;
  }

  /* line 129, ../sass/responsive.scss */
  .col-sms-push-7 {
    left: 58.33333333%;
  }

  /* line 132, ../sass/responsive.scss */
  .col-sms-push-6 {
    left: 50%;
  }

  /* line 135, ../sass/responsive.scss */
  .col-sms-push-5 {
    left: 41.66666667%;
  }

  /* line 138, ../sass/responsive.scss */
  .col-sms-push-4 {
    left: 33.33333333%;
  }

  /* line 141, ../sass/responsive.scss */
  .col-sms-push-3 {
    left: 25%;
  }

  /* line 144, ../sass/responsive.scss */
  .col-sms-push-2 {
    left: 16.66666667%;
  }

  /* line 147, ../sass/responsive.scss */
  .col-sms-push-1 {
    left: 8.33333333%;
  }

  /* line 150, ../sass/responsive.scss */
  .col-sms-push-0 {
    left: 0%;
  }

  /* line 153, ../sass/responsive.scss */
  .col-sms-offset-12 {
    margin-left: 100%;
  }

  /* line 156, ../sass/responsive.scss */
  .col-sms-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 159, ../sass/responsive.scss */
  .col-sms-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 162, ../sass/responsive.scss */
  .col-sms-offset-9 {
    margin-left: 75%;
  }

  /* line 165, ../sass/responsive.scss */
  .col-sms-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 168, ../sass/responsive.scss */
  .col-sms-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 171, ../sass/responsive.scss */
  .col-sms-offset-6 {
    margin-left: 50%;
  }

  /* line 174, ../sass/responsive.scss */
  .col-sms-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 177, ../sass/responsive.scss */
  .col-sms-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 180, ../sass/responsive.scss */
  .col-sms-offset-3 {
    margin-left: 25%;
  }

  /* line 183, ../sass/responsive.scss */
  .col-sms-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 186, ../sass/responsive.scss */
  .col-sms-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 189, ../sass/responsive.scss */
  .col-sms-offset-0 {
    margin-left: 0%;
  }
}
/* 2. Add clearfix in the grid system */
/* line 195, ../sass/responsive.scss */
.row.add-clearfix > .col-xs-2:nth-child(6n+1) {
  clear: both;
}

/* line 196, ../sass/responsive.scss */
.row.add-clearfix > .col-xs-3:nth-child(4n+1) {
  clear: both;
}

/* line 197, ../sass/responsive.scss */
.row.add-clearfix > .col-xs-4:nth-child(3n+1) {
  clear: both;
}

/* line 198, ../sass/responsive.scss */
.row.add-clearfix > .col-xs-6:nth-child(2n+1) {
  clear: both;
}

@media (min-width: 481px) {
  /* add clearfix in the grid system */
  /* line 203, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-2:nth-child(2n+1) {
    clear: none;
  }
  /* line 204, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-2:nth-child(3n+1) {
    clear: none;
  }
  /* line 205, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-2:nth-child(4n+1) {
    clear: none;
  }
  /* line 206, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-2:nth-child(6n+1) {
    clear: both;
  }

  /* line 209, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-3:nth-child(2n+1) {
    clear: none;
  }
  /* line 210, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-3:nth-child(3n+1) {
    clear: none;
  }
  /* line 211, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-3:nth-child(4n+1) {
    clear: both;
  }

  /* line 214, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-4:nth-child(2n+1) {
    clear: none;
  }
  /* line 215, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-4:nth-child(3n+1) {
    clear: both;
  }

  /* line 218, ../sass/responsive.scss */
  .row.add-clearfix > .col-sms-6:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 768px) {
  /* add clearfix in the grid system */
  /* line 226, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-2:nth-child(2n+1) {
    clear: none;
  }
  /* line 227, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-2:nth-child(3n+1) {
    clear: none;
  }
  /* line 228, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-2:nth-child(4n+1) {
    clear: none;
  }
  /* line 229, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-2:nth-child(6n+1) {
    clear: both;
  }

  /* line 232, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-3:nth-child(2n+1) {
    clear: none;
  }
  /* line 233, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-3:nth-child(3n+1) {
    clear: none;
  }
  /* line 234, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-3:nth-child(4n+1) {
    clear: both;
  }

  /* line 237, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-4:nth-child(2n+1) {
    clear: none;
  }
  /* line 238, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-4:nth-child(3n+1) {
    clear: both;
  }

  /* line 241, ../sass/responsive.scss */
  .row.add-clearfix > .col-sm-6:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 246, ../sass/responsive.scss */
  .mobile-menu {
    display: none !important;
  }

  /* line 247, ../sass/responsive.scss */
  .visible-mobile {
    display: none !important;
  }

  /* add clearfix in the grid system */
  /* line 251, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-2:nth-child(2n+1) {
    clear: none;
  }
  /* line 252, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-2:nth-child(3n+1) {
    clear: none;
  }
  /* line 253, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-2:nth-child(4n+1) {
    clear: none;
  }
  /* line 254, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-2:nth-child(6n+1) {
    clear: both;
  }

  /* line 257, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-3:nth-child(2n+1) {
    clear: none;
  }
  /* line 258, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-3:nth-child(3n+1) {
    clear: none;
  }
  /* line 259, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-3:nth-child(4n+1) {
    clear: both;
  }

  /* line 262, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-4:nth-child(2n+1) {
    clear: none;
  }
  /* line 263, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-4:nth-child(3n+1) {
    clear: both;
  }

  /* line 266, ../sass/responsive.scss */
  .row.add-clearfix > .col-md-6:nth-child(2n+1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  /* add clearfix in the grid system */
  /* line 273, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-2:nth-child(2n+1) {
    clear: none;
  }
  /* line 274, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-2:nth-child(3n+1) {
    clear: none;
  }
  /* line 275, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-2:nth-child(4n+1) {
    clear: none;
  }
  /* line 276, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-2:nth-child(6n+1) {
    clear: both;
  }

  /* line 279, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-3:nth-child(2n+1) {
    clear: none;
  }
  /* line 280, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-3:nth-child(3n+1) {
    clear: none;
  }
  /* line 281, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-3:nth-child(4n+1) {
    clear: both;
  }

  /* line 284, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-4:nth-child(2n+1) {
    clear: none;
  }
  /* line 285, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-4:nth-child(3n+1) {
    clear: both;
  }

  /* line 288, ../sass/responsive.scss */
  .row.add-clearfix > .col-lg-6:nth-child(2n+1) {
    clear: both;
  }
}
/* 3. Styles for devices(>=1200px) */
@media (min-width: 1200px) {
  /* line 294, ../sass/responsive.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* 4. Styles for devices(>=992px and <=1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 299, ../sass/responsive.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 302, ../sass/responsive.scss */
  .newsletter .title h2 {
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  /* line 310, ../sass/responsive.scss */
  .circuit .blog-posts .post-grid .post-content p.more-circuit {
    font-size: 2em;
  }
}
/* 5. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
  /* line 325, ../sass/responsive.scss */
  #header #nav > ul > li > a {
    font-size: 18px;
    padding: 0 20px;
  }

  /* line 331, ../sass/responsive.scss */
  .branding .logo {
    background-size: 600px auto;
    width: 600px;
    height: 150px;
  }

  /* line 334, ../sass/responsive.scss */
  [class^="col-lg-"].pull-left, [class^="col-lg-"].pull-right {
    float: none !important;
  }

  /* line 339, ../sass/responsive.scss */
  .next-race .coming-soon-page .clock-wrapper .clock {
    font-size: 6.5em;
  }
  /* line 342, ../sass/responsive.scss */
  .next-race .next-race-info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* line 346, ../sass/responsive.scss */
  .testimonials.style1.multiple-items .owl-controls .owl-prev {
    left: 15px;
  }
  /* line 347, ../sass/responsive.scss */
  .testimonials.style1.multiple-items .owl-controls .owl-next {
    right: 15px;
  }

  /* line 351, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item {
    width: 20%;
  }
  /* line 353, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item.double-width {
    width: 40%;
  }
  /* line 355, ../sass/responsive.scss */
  .iso-container.iso-col-5 .iso-item {
    width: 25%;
  }
  /* line 357, ../sass/responsive.scss */
  .iso-container.iso-col-5 .iso-item.double-width {
    width: 50%;
  }
  /* line 360, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item {
    width: 19.98%;
  }
  /* line 362, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item.double-width {
    width: 39.96%;
  }
  /* line 364, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-5 .iso-item {
    width: 24.98%;
  }
  /* line 366, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-5 .iso-item.double-width {
    width: 49.96%;
  }
}
/* 6. Styles for devices(<=991px ) */
@media (max-width: 991px) {
  /* line 379, ../sass/responsive.scss */
  #header #nav > ul > li.visible-mobile > a {
    padding-right: 0;
  }

  /* line 387, ../sass/responsive.scss */
  .newsletter .title h2 {
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  /* line 392, ../sass/responsive.scss */
  .page-title-container .entry-title .logo {
    background-size: 250px auto;
    width: 250px;
    height: 60px;
    top: 9px;
    z-index: 999;
  }

  /* line 395, ../sass/responsive.scss */
  .hidden-mobile {
    display: none !important;
  }

  /* line 398, ../sass/responsive.scss */
  [class^="col-md-"].pull-left, [class^="col-md-"].pull-right, [class*=" col-md-"].pull-left, [class*=" col-md-"].pull-right {
    float: none !important;
  }

  /* line 400, ../sass/responsive.scss */
  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 402, ../sass/responsive.scss */
  .callout-box {
    text-align: center;
  }
  /* line 404, ../sass/responsive.scss */
  .callout-box .callout-content, .callout-box .callout-text, .callout-box .callout-action {
    display: block;
    padding: 0;
  }
  /* line 406, ../sass/responsive.scss */
  .callout-box.style1 .callout-box-wrapper {
    padding: 20px 0 0;
  }
  /* line 408, ../sass/responsive.scss */
  .callout-box.style1 .callout-text:after {
    display: block;
    content: "";
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto 20px;
    width: 300px;
  }
  /* line 409, ../sass/responsive.scss */
  .callout-box.style1 .callout-text h2 {
    border-right: none;
    padding-right: 0;
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  /* line 411, ../sass/responsive.scss */
  .callout-box.style1 .callout-stripe-container {
    padding: 0;
  }
  /* line 412, ../sass/responsive.scss */
  .callout-box.style1 .callout-stripe {
    position: static;
    padding: 15px 20px;
  }
  /* line 414, ../sass/responsive.scss */
  .callout-box.style1 .callout-stripe img {
    display: block;
    margin: 0 auto 5px;
  }
  /* line 415, ../sass/responsive.scss */
  .callout-box.style1 .callout-stripe:after {
    display: none;
  }
  /* line 418, ../sass/responsive.scss */
  .callout-box.style2, .callout-box.style3 {
    text-align: center;
  }
  /* line 420, ../sass/responsive.scss */
  .callout-box.style2 .callout-action, .callout-box.style3 .callout-action {
    text-align: center;
    margin-top: 30px;
  }

  /* line 424, ../sass/responsive.scss */
  #header {
    background: #000000;
    height: 75px;
  }
  /* line 426, ../sass/responsive.scss */
  #header .logo {
    margin: 0 !important;
  }
  /* line 428, ../sass/responsive.scss */
  #header .logo a {
    color: #fff !important;
  }
  /* line 431, ../sass/responsive.scss */
  #header .header-top-nav > li {
    margin: 0;
  }
  /* line 433, ../sass/responsive.scss */
  #header .header-top-nav > li > a {
    line-height: 75px;
    padding: 0 5px;
  }
  /* line 435, ../sass/responsive.scss */
  #header .header-top-nav > li > a .fa {
    color: #ffffff;
    border-color: #ffffff;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  /* line 437, ../sass/responsive.scss */
  #header .header-top-nav > li:hover .fa {
    color: #fff;
    border-color: #fff;
  }
  /* line 438, ../sass/responsive.scss */
  #header .header-top-nav > li:last-child > a {
    padding-right: 0;
  }
  /* line 440, ../sass/responsive.scss */
  #header .header-top-nav .mini-cart {
    /*.cart-content { background: rgba(11, 28, 50, 0.9) !important; }*/
  }
  /* line 441, ../sass/responsive.scss */
  #header .header-top-nav .mini-cart:hover > a {
    background: #0b1c32 !important;
  }
  /* line 445, ../sass/responsive.scss */
  #header .header-top-nav .mini-search .main-nav-search-form {
    width: 245px;
  }
  /* line 447, ../sass/responsive.scss */
  #header .header-top-nav .mini-search .main-nav-search-form input[type=text] {
    border-color: #455b79;
    background: #0f2541;
    color: #455b79;
  }
  /* line 449, ../sass/responsive.scss */
  #header .header-top-nav .mini-search .main-nav-search-form form button .fa {
    color: #455b79;
  }
  /* line 450, ../sass/responsive.scss */
  #header .header-top-nav .mini-search .main-nav-search-form form button:hover .fa {
    color: #fff;
  }

  /* line 457, ../sass/responsive.scss */
  .branding {
    z-index: 999;
  }
  /* line 458, ../sass/responsive.scss */
  .branding .logo {
    background-size: 250px auto;
    width: 250px;
    height: 60px;
    top: 9px;
  }
  /* line 459, ../sass/responsive.scss */
  .branding .logo a {
    width: 250px;
    height: 60px;
  }

  /* line 465, ../sass/responsive.scss */
  .page-title-container .banner {
    margin-top: 75px;
  }

  /* line 469, ../sass/responsive.scss */
  .coming-soon-page .clock {
    font-size: 120px;
  }

  /* line 472, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item {
    width: 25%;
  }
  /* line 474, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item.double-width {
    width: 50%;
  }
  /* line 476, ../sass/responsive.scss */
  .iso-container.iso-col-5 .iso-item, .iso-container.iso-col-4 .iso-item {
    width: 33.3333%;
  }
  /* line 478, ../sass/responsive.scss */
  .iso-container.iso-col-5 .iso-item.double-width, .iso-container.iso-col-4 .iso-item.double-width {
    width: 66.6666%;
  }
  /* line 481, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item {
    width: 24.98%;
  }
  /* line 483, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item.double-width {
    width: 49.96%;
  }
  /* line 485, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-5 .iso-item, .iso-container.style-masonry.iso-col-4 .iso-item {
    width: 33.31%;
  }
  /* line 487, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-5 .iso-item.double-width, .iso-container.style-masonry.iso-col-4 .iso-item.double-width {
    width: 66.62%;
  }

  /* line 492, ../sass/responsive.scss */
  .responsive-section .callout-image-container .callout-image img {
    margin-top: 30px;
  }

  /* line 494, ../sass/responsive.scss */
  .soap-gallery.frame-holder {
    width: 720px;
    margin: 0 auto;
    padding: 45px 0 50px;
  }
  /* line 496, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-carousel {
    width: 464px;
  }
  /* line 497, ../sass/responsive.scss */
  .soap-gallery.frame-holder.effect-shine .owl-carousel:before {
    right: -25px;
    top: -25px;
    max-height: 100%;
    width: 250px;
  }

  /* line 500, ../sass/responsive.scss */
  .forcefullwidth_wrapper_tp_banner {
    padding-top: 74px !important;
  }

  /* line 502, ../sass/responsive.scss */
  .image-wrap-with-shadow:before {
    display: none;
  }

  /* line 506, ../sass/responsive.scss */
  .add-circle-box-line > .col-sm-6:nth-child(2n) {
    border-right: none;
  }

  /* line 512, ../sass/responsive.scss */
  .woocommerce .single-product-details .single-variation-wrap {
    display: block;
    margin-bottom: 0;
  }
  /* line 514, ../sass/responsive.scss */
  .woocommerce .single-product-details .single-variation-wrap .qty-wrap, .woocommerce .single-product-details .single-variation-wrap .variation-action {
    display: block;
    text-align: left;
    margin-bottom: 30px;
  }
  /* line 516, ../sass/responsive.scss */
  .woocommerce .single-product-details .social-wrap {
    display: block;
  }
  /* line 518, ../sass/responsive.scss */
  .woocommerce .single-product-details .social-wrap label, .woocommerce .single-product-details .social-wrap .social-icons {
    display: block;
    text-align: left;
  }
  /* line 519, ../sass/responsive.scss */
  .woocommerce .single-product-details .social-wrap label {
    margin-bottom: 5px;
  }
}
/* 7. Styles for devices(>=768px and <= 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 530, ../sass/responsive.scss */
  .next-race .coming-soon-page .clock-wrapper .clock {
    font-size: 4.5em;
  }
  /* line 533, ../sass/responsive.scss */
  .next-race .next-race-info {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  /* line 536, ../sass/responsive.scss */
  .newsletter .title {
    line-height: 50px;
  }
  /* line 537, ../sass/responsive.scss */
  .newsletter .title h2 {
    font-size: 14px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 541, ../sass/responsive.scss */
  .section h2, .post-wrapper h2 {
    font-size: 2.5em;
  }
}
/* 8. Styles for devices(<=767px ) */
@media (max-width: 767px) {
  /* line 549, ../sass/responsive.scss */
  .newsletter .title h2 {
    margin-bottom: 0;
    background: #cc0000;
  }

  /* line 553, ../sass/responsive.scss */
  .section h2, .post-wrapper h2 {
    font-size: 2.5em;
  }

  /* line 557, ../sass/responsive.scss */
  .next-race .coming-soon-page .clock-wrapper {
    margin: 0 auto;
  }

  /* line 560, ../sass/responsive.scss */
  #footer .back-to-top {
    left: 50%;
    margin-left: -25px;
  }

  /* line 561, ../sass/responsive.scss */
  .same-height > * {
    height: auto !important;
  }

  /* line 563, ../sass/responsive.scss */
  [class^="col-sm-"].pull-left, [class^="col-sm-"].pull-right, [class*=" col-sm-"].pull-left, [class*=" col-sm-"].pull-right {
    float: none !important;
  }

  /* line 568, ../sass/responsive.scss */
  .callout-box.style1 .callout-box-wrapper {
    padding-top: 80px;
  }
  /* line 570, ../sass/responsive.scss */
  .callout-box.style1 .callout-text:after {
    margin: 0 auto 30px;
    width: 220px;
  }
  /* line 571, ../sass/responsive.scss */
  .callout-box.style1 .callout-text h2 {
    margin-bottom: 30px;
    font-size: 2em;
  }
  /* line 572, ../sass/responsive.scss */
  .callout-box.style1 .callout-text h3 {
    margin-bottom: 25px;
    font-size: 1.6666em;
  }
  /* line 574, ../sass/responsive.scss */
  .callout-box.style1 .callout-action {
    margin-bottom: 20px;
  }
  /* line 577, ../sass/responsive.scss */
  .callout-box.style3 .callout-text * {
    font-size: 1.8em;
  }

  /* line 581, ../sass/responsive.scss */
  #footer .footer-wrapper .container > .row > div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* line 583, ../sass/responsive.scss */
  #footer .footer-wrapper .container > .row > div + div {
    padding-top: 0;
  }
  /* line 584, ../sass/responsive.scss */
  #footer .footer-wrapper .container > .row > div:last-child {
    padding-top: 40px;
  }

  /* line 587, ../sass/responsive.scss */
  .soap-gallery-thumb-wrapper, .post-slider ~ .soap-gallery-thumb-wrapper {
    padding: 12px 0 2px 10px;
  }
  /* line 589, ../sass/responsive.scss */
  .soap-gallery-thumb-wrapper > a, .post-slider ~ .soap-gallery-thumb-wrapper > a {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  /* line 592, ../sass/responsive.scss */
  .animated {
    visibility: visible;
  }

  /* line 595, ../sass/responsive.scss */
  .process-builder .process-item {
    float: none;
    width: auto !important;
  }
  /* line 598, ../sass/responsive.scss */
  .process-builder.style-simple .process-icon:before, .process-builder.style-simple .process-icon:after {
    display: none;
  }

  /* line 605, ../sass/responsive.scss */
  .post-slider.style2 .slide-text, .post-slider.style5 .slide-text {
    display: none;
  }
  /* line 608, ../sass/responsive.scss */
  .post-slider.style2 .owl-prev, .post-slider.style2 .owl-next, .post-slider.style2:hover .owl-prev, .post-slider.style2:hover .owl-next {
    margin-top: -13px;
    top: 50%;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    bottom: auto;
  }

  /* line 614, ../sass/responsive.scss */
  .progress-bar-container.skill-meter {
    display: block;
  }

  /* line 615, ../sass/responsive.scss */
  .progress-bar.skill-meter {
    display: block;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
  }
  /* line 617, ../sass/responsive.scss */
  .progress-bar.skill-meter .progress-label, .progress-bar.skill-meter .progress-wrap {
    display: block;
    height: 39px;
    line-height: 39px;
  }
  /* line 618, ../sass/responsive.scss */
  .progress-bar.skill-meter .progress {
    padding-left: 1px;
  }

  /* line 622, ../sass/responsive.scss */
  .testimonials.style2 .container {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 623, ../sass/responsive.scss */
  .testimonials.style2 .sc-content-wrapper .sc-content {
    display: block;
  }
  /* line 625, ../sass/responsive.scss */
  .testimonials.style2 .sc-content-wrapper .sc-content h2, .testimonials.style2 .sc-content-wrapper .sc-content p {
    display: block;
    padding: 0;
  }
  /* line 626, ../sass/responsive.scss */
  .testimonials.style2 .sc-content-wrapper .sc-content h2 {
    margin-bottom: 20px;
  }
  /* line 627, ../sass/responsive.scss */
  .testimonials.style2 .sc-content-wrapper .sc-content p {
    font-size: 1.8em;
    border-left: none;
  }

  /* line 631, ../sass/responsive.scss */
  .contact-address.style2 {
    display: block;
    margin-bottom: 50px;
  }
  /* line 633, ../sass/responsive.scss */
  .contact-address.style2 li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  /* line 636, ../sass/responsive.scss */
  .error404 .error-message-404 span {
    font-size: 200px;
  }

  /* line 637, ../sass/responsive.scss */
  .coming-soon-page .clock {
    font-size: 84px;
  }

  /* line 640, ../sass/responsive.scss */
  .iso-container.iso-col-3 .iso-item, .iso-container.iso-col-4 .iso-item, .iso-container.iso-col-5 .iso-item {
    width: 50%;
  }
  /* line 642, ../sass/responsive.scss */
  .iso-container.iso-col-3 .iso-item.double-width, .iso-container.iso-col-4 .iso-item.double-width, .iso-container.iso-col-5 .iso-item.double-width {
    width: 100%;
  }
  /* line 644, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item {
    width: 33.3333%;
  }
  /* line 646, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item.double-width {
    width: 66.6666%;
  }
  /* line 649, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-3 .iso-item, .iso-container.style-masonry.iso-col-4 .iso-item, .iso-container.style-masonry.iso-col-5 .iso-item {
    width: 49.98%;
  }
  /* line 651, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-3 .iso-item.double-width, .iso-container.style-masonry.iso-col-4 .iso-item.double-width, .iso-container.style-masonry.iso-col-5 .iso-item.double-width {
    width: 100%;
  }
  /* line 653, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item {
    width: 33.31%;
  }
  /* line 655, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item.double-width {
    width: 66.62%;
  }

  /* line 661, ../sass/responsive.scss */
  .blog-posts.layout-timeline.layout-fullwidth {
    padding-left: 40px;
  }
  /* line 664, ../sass/responsive.scss */
  .blog-posts.layout-timeline.layout-fullwidth .iso-container {
    background-position: left top;
  }
  /* line 666, ../sass/responsive.scss */
  .blog-posts.layout-timeline.layout-fullwidth .iso-container .iso-item:nth-child(2) {
    padding-top: 15px;
  }
  /* line 668, ../sass/responsive.scss */
  .blog-posts.layout-timeline.layout-fullwidth .load-more {
    margin-left: -50px;
  }
  /* line 670, ../sass/responsive.scss */
  .blog-posts.layout-timeline .iso-col-2 .iso-item {
    width: 100%;
  }

  /* line 675, ../sass/responsive.scss */
  .page-title-container .banner .caption .caption-lg {
    font-size: 5em;
  }
  /* line 676, ../sass/responsive.scss */
  .page-title-container .banner .caption .caption-sm {
    font-size: 1em;
  }
  /* line 679, ../sass/responsive.scss */
  .page-title-container .style6 .caption .caption-xl {
    font-size: 6em;
  }
  /* line 680, ../sass/responsive.scss */
  .page-title-container .style6 .caption .caption-lg {
    font-size: 5em;
  }
  /* line 681, ../sass/responsive.scss */
  .page-title-container .style6 .caption .caption-md {
    font-size: 1.3333em;
  }

  /* line 685, ../sass/responsive.scss */
  .blog-posts .post-full .post-content {
    min-height: 1px !important;
  }

  /* line 688, ../sass/responsive.scss */
  .single-post .about-author {
    display: block;
  }
  /* line 690, ../sass/responsive.scss */
  .single-post .about-author .author-img, .single-post .about-author .about-author-content {
    display: block;
  }
  /* line 691, ../sass/responsive.scss */
  .single-post .about-author .about-author-content {
    padding: 20px 0 0;
  }
  /* line 693, ../sass/responsive.scss */
  .single-post .about-author .about-author-content .social-icons {
    float: none;
  }

  /* line 698, ../sass/responsive.scss */
  .progress-bar-container.style-vertical {
    height: 400px;
    margin-left: -5px;
    margin-right: -5px;
  }
  /* line 700, ../sass/responsive.scss */
  .progress-bar-container.style-vertical .progress-bar-wrapper {
    border-spacing: 5px 0;
  }
  /* line 702, ../sass/responsive.scss */
  .progress-bar-container.style-vertical .progress-bar .progress-label, .progress-bar-container.style-vertical .progress-bar .progress-percent {
    font-size: 1em;
  }

  /* line 708, ../sass/responsive.scss */
  .tab-container.style1 .tabs, .tab-container.style2 .tabs {
    float: none;
    display: block;
  }
  /* line 710, ../sass/responsive.scss */
  .tab-container.style1 .tabs li, .tab-container.style2 .tabs li {
    float: none;
    display: block;
    width: auto;
  }
  /* line 713, ../sass/responsive.scss */
  .tab-container.vertical-tab, .tab-container.vertical-tab-1 {
    /*.tab-content { padding-top: 30px; }*/
  }
  /* line 714, ../sass/responsive.scss */
  .tab-container.vertical-tab .tabs, .tab-container.vertical-tab-1 .tabs {
    float: none;
  }
  /* line 718, ../sass/responsive.scss */
  .tab-container.transparent-tab .tabs {
    float: none;
    display: block;
  }
  /* line 720, ../sass/responsive.scss */
  .tab-container.transparent-tab .tabs li {
    float: none;
    display: block;
    width: auto;
  }

  /* line 725, ../sass/responsive.scss */
  .st-table.block-sms {
    display: block;
  }
  /* line 727, ../sass/responsive.scss */
  .st-table.block-sms .st-td {
    display: block;
  }

  /* line 731, ../sass/responsive.scss */
  .image-banner .caption-wrapper {
    position: static;
  }
  /* line 733, ../sass/responsive.scss */
  .image-banner .caption-wrapper.position-left, .image-banner .caption-wrapper.position-right {
    position: absolute;
  }
  /* line 735, ../sass/responsive.scss */
  .image-banner .caption-wrapper.position-left h2, .image-banner .caption-wrapper.position-right h2 {
    font-size: 5em;
  }
  /* line 738, ../sass/responsive.scss */
  .image-banner .image-container.style-abs {
    position: static;
  }
  /* line 740, ../sass/responsive.scss */
  .image-banner .image-container.style-abs.position-right, .image-banner .image-container.style-abs.position-left {
    max-width: 100%;
  }

  /* line 744, ../sass/responsive.scss */
  .soap-gallery.frame-holder {
    width: 450px;
    margin: 0 auto;
    padding: 28px 0 31px;
  }
  /* line 746, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-carousel {
    width: 290px;
  }
  /* line 747, ../sass/responsive.scss */
  .soap-gallery.frame-holder.effect-shine .owl-carousel:before {
    right: -16px;
    top: -16px;
    max-height: 100%;
    width: 160px;
  }
  /* line 749, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-buttons .owl-prev {
    left: -80px;
  }
  /* line 750, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-buttons .owl-next {
    right: -80px;
  }

  /* line 755, ../sass/responsive.scss */
  .ads-carousel .image-banner .caption-wrapper {
    max-width: 60%;
    padding-left: 10px;
  }

  /* line 757, ../sass/responsive.scss */
  .ads-carousel .captions .title {
    font-size: 2em;
  }

  /* line 760, ../sass/responsive.scss */
  .add-circle-box-line > .col-sm-6 {
    border-right: none;
  }
  /* line 762, ../sass/responsive.scss */
  .add-circle-box-line > .col-sms-6:nth-child(2n) {
    border-right: none;
  }

  /* line 768, ../sass/responsive.scss */
  .woocommerce-tabs.tab-container {
    display: block;
    width: auto;
  }
  /* line 770, ../sass/responsive.scss */
  .woocommerce-tabs.tab-container ul.tabs, .woocommerce-tabs.tab-container .panel.active {
    display: block;
  }

  /* line 773, ../sass/responsive.scss */
  .product-wrapper .post-filters .filter-title {
    float: none;
  }

  /* line 775, ../sass/responsive.scss */
  .woocommerce .qty-wrap .input-text {
    width: 50px;
  }

  /* line 777, ../sass/responsive.scss */
  .dashboard table.my-wishlist tbody td {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* line 779, ../sass/responsive.scss */
  .dashboard table.shop_table th, .dashboard table.shop_table td {
    padding-left: 5px;
  }

  /* line 781, ../sass/responsive.scss */
  .dashboard table.my_product_reviews tbody td {
    padding: 10px;
  }
}
/* 9. Styles for devices(>=768px and <= 991px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* line 787, ../sass/responsive.scss */
  .colors-section .logo-icon {
    max-width: 70%;
  }
}
/* 10. Styles for devices(<=480px ) */
@media (max-width: 480px) {
  /* line 793, ../sass/responsive.scss */
  .post-wrapper h2, .section h2 {
    font-size: 2.3em;
  }

  /* line 795, ../sass/responsive.scss */
  .coming-soon-page .clock {
    font-size: 52px;
  }

  /* line 799, ../sass/responsive.scss */
  .next-race .next-race-info h2 {
    font-size: 2.3em;
  }
  /* line 800, ../sass/responsive.scss */
  .next-race .next-race-info h3 {
    font-size: 1.8em;
  }
  /* line 804, ../sass/responsive.scss */
  .next-race .coming-soon-page .clock-wrapper .clock {
    font-size: 5em;
  }

  /* line 809, ../sass/responsive.scss */
  .iso-container.iso-col-2 .iso-item, .iso-container.iso-col-3 .iso-item, .iso-container.iso-col-4 .iso-item, .iso-container.iso-col-5 .iso-item {
    width: 100%;
  }
  /* line 810, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item {
    width: 50%;
  }
  /* line 812, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item.double-width {
    width: 100%;
  }
  /* line 815, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-2 .iso-item, .iso-container.style-masonry.iso-col-3 .iso-item, .iso-container.style-masonry.iso-col-4 .iso-item, .iso-container.style-masonry.iso-col-5 .iso-item {
    width: 100%;
  }
  /* line 816, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item {
    width: 49.98%;
  }
  /* line 818, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item.double-width {
    width: 100%;
  }

  /* line 822, ../sass/responsive.scss */
  .st-table.block-xs {
    display: block;
  }
  /* line 824, ../sass/responsive.scss */
  .st-table.block-xs .st-td {
    display: block;
  }

  /* line 828, ../sass/responsive.scss */
  ul.products.layout-list .product-image, ul.products.layout-list .product-meta-wrap {
    float: none;
    width: auto;
  }
  /* line 829, ../sass/responsive.scss */
  ul.products.layout-list .product-image {
    border-right-width: 2px;
  }

  /* line 834, ../sass/responsive.scss */
  .image-banner .caption-wrapper.position-left h2, .image-banner .caption-wrapper.position-right h2 {
    font-size: 3em;
  }
  /* line 835, ../sass/responsive.scss */
  .image-banner .caption-wrapper.position-left .captions, .image-banner .caption-wrapper.position-right .captions {
    width: 96%;
  }
  /* line 836, ../sass/responsive.scss */
  .image-banner .caption-wrapper.position-left .action, .image-banner .caption-wrapper.position-right .action {
    font-size: 0.9167em;
  }

  /* line 841, ../sass/responsive.scss */
  .add-circle-box-line > .col-sms-6, .add-circle-box-line .col-sm-6 {
    border-right: none;
  }

  /* line 848, ../sass/responsive.scss */
  .woocommerce table.shop_table tbody td img {
    display: none;
  }
  /* line 849, ../sass/responsive.scss */
  .woocommerce table.shop_table tbody .product-quantity .qty {
    width: 40px;
  }
  /* line 850, ../sass/responsive.scss */
  .woocommerce table.shop_table tbody .actions {
    text-align: left;
  }
  /* line 852, ../sass/responsive.scss */
  .woocommerce table.shop_table tbody .actions .coupon {
    float: none;
  }
  /* line 855, ../sass/responsive.scss */
  .woocommerce table.shop_table .coupon .input-text, .woocommerce table.shop_table .btn {
    width: 100%;
  }

  /* line 858, ../sass/responsive.scss */
  .soap-gallery.frame-holder {
    width: 300px;
    margin: 0 auto;
    padding: 19px 0 21px;
  }
  /* line 860, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-carousel {
    width: 193px;
  }
  /* line 861, ../sass/responsive.scss */
  .soap-gallery.frame-holder.effect-shine .owl-carousel:before {
    right: -11px;
    top: -11px;
    max-height: 100%;
    width: 107px;
  }
  /* line 863, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-buttons .owl-prev {
    left: -80px;
  }
  /* line 864, ../sass/responsive.scss */
  .soap-gallery.frame-holder .owl-buttons .owl-next {
    right: -80px;
  }
}
/* 11. Styles for devices(<=320px ) */
@media (max-width: 320px) {
  /* line 871, ../sass/responsive.scss */
  .page-loading-wrapper .progress-bar {
    width: 250px;
  }

  /* line 873, ../sass/responsive.scss */
  .iso-container.iso-col-6 .iso-item, .iso-container.iso-col-5 .iso-item {
    width: 100%;
  }
  /* line 875, ../sass/responsive.scss */
  .iso-container.style-masonry.iso-col-6 .iso-item, .iso-container.style-masonry.iso-col-5 .iso-item {
    width: 100%;
  }
}
